html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-color: #ffd700 #f0f0f0; /* رنگ اسکرول و پس‌زمینه */
  scrollbar-width: thin; /* باریک‌تر کردن اسکرول‌بار */
}

::selection {
  background-color: #ffd700;
  color: #000000;
}

a {
  font-family: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
}

/* برای تغییر عرض اسکرول‌بار */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* برای تغییر رنگ پس‌زمینه اسکرول‌بار */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* برای تغییر رنگ و استایل بخش اسکرول */
::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

