.container {
  padding: 20px;
}

.title {
  max-width: 578px;
  margin: 50px auto;
  background-color: #93a5ff;
  padding: 1rem 0;
  color: #fff;
  border-radius: 9px;
  text-align: center;
}

.title h2 {
  max-width: max-content;
  margin: 20px auto;
  background-color: #4160f5;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
  z-index: 9;
}

.title p {
  font-size: 1.5rem;
}

.border {
  margin-top: -145px;
  margin-bottom: 150px;
  height: 2px;
  background-color: #93a5ff;
}
